.App {
  text-align: center;
  position: relative;
  height:100%;
  width:100%;
}

#wrapper {
  height: 100%;
  padding: 10%;
}

button {
  height: 250px;
  width: 250px;
  font-size: 150px;
}

#number {
  font-size: 250px;
  display: inline-block;
  margin: 50px;
}

#madeBy:after {
  content: 'Made by Agnes and George'
}

#madeBy:hover:after{
  font-size: 50px;
  content: "WE LOVE DEVOPS"
}


